.container {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;

    .content {
        position: absolute;
        width: 82.8125%;
        height: 64.6268656717%;
        top: 28.6567164179%;
        display: grid;
        grid-template-columns: 36.0377358491% 1fr;

        &__description {
            display: flex;
            flex-direction: column;
            // width: 35.9683794467%;

            &__info {
                font-family: "Gilroy-SemiBold";
                font-weight: 600;
                font-size: clamp(
                    1.875rem,
                    calc(-1.9862rem + 4.5226vw),
                    5.25rem
                );
                // font-size: calc(58.4px + 1.4vw);
                // line-height: 100px;
                line-height: clamp(
                    2.25rem,
                    calc(-2.3262rem + 5.3601vw),
                    6.25rem
                );

                margin-bottom: clamp(1.5rem, calc(0.642rem + 1.005vw), 2.25rem);

                color: #323232;
            }

            &__contacts {
                display: flex;
                flex-direction: column;

                font-family: "Gilroy-Regular";
                font-size: clamp(1rem, calc(-1.0021rem + 2.3451vw), 2.75rem);
                line-height: clamp(
                    1.1875rem,
                    calc(-1.1006rem + 2.6801vw),
                    3.1875rem
                );
                // font-size: calc(18.4px + 1vw);
                // line-height: 51px;

                span {
                    color: #6b6b6b;
                }

                a {
                    text-decoration: none;
                    color: #2d5dd9;
                }
            }
        }

        &__imgContainer {
            display: flex;
            // width: 64.0316205533%;

            img {
                max-width: 100%;
                max-height: 100%;
                margin-bottom: auto;
            }
        }
    }

    & > i {
        position: absolute;
        top: 40px;
        left: 69px;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
        align-items: center;

        &__topSpaser {
            flex: 2;
        }

        &__bottomSpaser {
            flex: 3;
        }

        .content {
            position: initial;
            width: 360px;
            height: fit-content;
            grid-template-columns: auto;
            grid-template-rows: 228px 1fr;

            &__description {
                width: 100%;
                grid-area: 2;

                // &__info {
                //     font-size: 30px !important;
                // }

                // &__contacts {
                //     font-size: 16px !important;
                // }
            }

            &__imgContainer {
                justify-content: center;
                margin-bottom: 44px;
            }
        }
    }
}

@media only screen and (max-width: 428px) {
    .container {
        & > i {
            top: 28px;
            left: 16px;

            svg {
                height: 36px;
                width: 36px;
            }
        }
    }
}

@media only screen and (max-width: 392px) {
    .container {
        padding: 0 16px;

        .content {
            width: calc(100% - 32px);
        }
    }
}
