.container {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

    &__content {
        position: absolute;
        width: 74.0849194729%;
        height: 66.24%;
        top: 27.36%;
        display: flex;

        .description {
            display: flex;
            flex-direction: column;
            width: 35.9683794467%;

            &__info {
                font-family: "Gilroy-SemiBold";
                font-weight: 600;
                font-size: calc(58.4px + 1vw);
                line-height: 100px;

                margin-bottom: 36px;

                color: #323232;
            }

            &__contacts {
                display: flex;
                flex-direction: column;

                font-family: "Gilroy-Regular";
                font-size: calc(18.4px + 1vw);
                line-height: 51px;

                span {
                    color: #6b6b6b;
                }

                a {
                    text-decoration: none;
                    color: #2d5dd9;
                }
            }
        }

        img {
            width: 64.0316205533%;
            height: auto;
        }
    }

    i {
        position: absolute;
        top: 40px;
        left: 69px;
    }
}

@media only screen and (max-width: 1750px) {
    .description {
        &__info {
            font-size: calc(16.34px + 1vw) !important;
            line-height: 36px !important;

            margin-bottom: 24px !important;
        }

        &__contacts {
            font-size: calc(2.34px + 1vw) !important;
            line-height: 19px !important;
        }
    }
}
