.container {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;

    .content {
        position: absolute;
        width: 74.0849194729%;
        height: 66.24%;
        top: 27.36%;
        display: grid;
        grid-template-columns: 35.9683794467% 64.0316205533%;

        &__description {
            display: flex;
            flex-direction: column;
            // width: 35.9683794467%;

            &__info {
                font-family: "Gilroy-SemiBold";
                font-weight: 600;
                font-size: calc(58.4px + 1vw);
                line-height: 100px;

                margin-bottom: 36px;

                color: #323232;
            }

            &__contacts {
                display: flex;
                flex-direction: column;

                font-family: "Gilroy-Regular";
                font-size: calc(18.4px + 1vw);
                line-height: 51px;

                span {
                    color: #6b6b6b;
                }

                a {
                    text-decoration: none;
                    color: #2d5dd9;
                }
            }
        }

        &__imgContainer {
            display: flex;
            // width: 64.0316205533%;

            img {
                max-width: 100%;
                max-height: 100%;
                margin-bottom: auto;
            }
        }
    }

    & > i {
        position: absolute;
        top: 40px;
        left: 69px;
    }
}

@media only screen and (max-width: 1750px) {
    .content__description {
        &__info {
            font-size: calc(16.34px + 1vw) !important;
            line-height: 36px !important;

            margin-bottom: 24px !important;
        }

        &__contacts {
            font-size: calc(2.34px + 1vw) !important;
            line-height: 19px !important;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
        align-items: center;

        &__topSpaser {
            flex: 2;
        }

        &__bottomSpaser {
            flex: 3;
        }

        .content {
            position: initial;
            width: 360px;
            height: fit-content;
            grid-template-columns: auto;
            grid-template-rows: 228px 1fr;

            &__description {
                width: 100%;
                grid-area: 2;

                &__info {
                    font-size: 30px !important;
                }

                &__contacts {
                    font-size: 16px !important;
                }
            }

            &__imgContainer {
                justify-content: center;
                margin-bottom: auto;
                img {
                    height: 184px;
                }
            }
        }
    }
}

@media only screen and (max-width: 428px) {
    .container {
        & > i {
            top: 28px;
            left: 16px;

            svg {
                height: 36px;
                width: 36px;
            }
        }
    }
}

@media only screen and (max-width: 392px) {
    .container {
        padding: 0 16px;

        .content {
            width: calc(100% - 32px);
        }
    }
}
